body
{
    background-color: rgb(200, 200, 200) ;
    color: rgb(200, 200, 200) ;
    max-width: 1000px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}
.kozep
{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.tartalom
{
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}
h1
{
    text-align: center;
}
h1,h2,h3,h4
{
    text-transform: uppercase;
}
img
{
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 130%;
    border: 1px solid rgb(89, 89, 128);
    border-radius: 10%;
}

@media screen and (max-width: 768px)
{
    img{display: none;}
}


footer
{
    text-align: center;
    color: yellow;
}
a
{
    background-color: blueviolet;
}
a:hover
{
    background-color: yellow;
    color: blueviolet;
}